.mainPage {
  display: flex;
  height: 100vh;
}

.content {
  flex: 1;
  height: 100vh;
  padding-left: 20px;
  overflow-y: scroll;
}

.radioSet {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fixedHeader {
  position: fixed;
  background: white;
  top: 0;
  width: 100%;
  z-index: 1;
}

.paddedContent {
  padding-top: 80px;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 0;
  color: #080e52;
  font-family: "Roboto", sans-serif;
}
