.sideMenu {
  width: 200px;
  height: 100%;
  background-color: #f5f5f5;
  padding-left: 10px;
  overflow-y: scroll;

  a {
    color: #0b1373;
    text-decoration: none;
    display: block;
    line-height: 1.8;
    padding-left: 12px;
    &:hover {
      color: black;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
    }
    &:active {
      color: black;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
    }
  }
}

.menuItem {
  color: red;
  text-decoration: none;
  display: block;
  padding: 10px;
  font-family: "Roboto", sans-serif;

  li {
    display: block;
    padding: 6px 0;
  }

  a {
    color: #0b1373;
    text-decoration: none;
    display: block;
    background-color: #ccc;
    line-height: 1.8;
    border-radius: 4px;
    padding-left: 12px;
    &:hover {
      color: black;
      background-color: #ddd;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
    }
    &:active {
      color: black;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
    }
  }
}

.section {
  color: #0b1373;
}
